body {
    background-color: cornflowerblue;
}


h1 {
    font-family: serif;
    text-align: center;
}
a {
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

div {
    text-align: center;
}

p {
    font-family: cursive;
    text-align: center;

}

.one {
    height: 10%;
    width: 10%;
    border-radius: 100px;
    padding-left: 6px; 
    padding-right: 6px;
   
}

.two {
    height: 10%;
    width: 10%;
    border-radius: 100px;
    padding-left: 6px; 
    padding-right: 6px;



}

.three {
    height: 10%;
    width: 10%;
    border-radius: 100px;
    padding-left: 6px; 
    padding-right: 6px;


}

.four {
    height: 10%;
    width: 10%;
    border-radius: 100px;
    padding-left: 6px; 
    padding-right: 6px;
    


}

.five {
    height: 10%;
    width: 10%;
    border-radius: 100px;
    padding-left: 6px; 
    padding-right: 6px;

}

.six {
    height: 10%;
    width: 10%;
    border-radius: 100px;
    padding-left: 6px; 
    padding-right: 6px;

}

.seven {
    height: 10%;
    width: 10%;
    border-radius: 100px;
    padding-left: 6px; 
    padding-right: 6px;

}

.eight {
    height: 10%;
    width: 10%;
    border-radius: 100px;
    padding-left: 6px; 
    padding-right: 6px;

}

.nine {
    height: 10%;
    width: 10%;
    border-radius: 100px;
    padding-left: 6px; 
    padding-right: 6px;

}

.ten {
    height: 10%;
    width: 10%;
    border-radius: 100px;
    padding-left: 6px; 
    padding-right: 6px;

}

/* uc hymm p */

.uchymm {
    border-style: solid;
    border-color: rgb(11, 12, 100);
}


.p1:hover {
    background-color: darkslateblue;
    color: rgb(8, 235, 38);
    
}
.p2:hover {
    background-color: darkslateblue ;
    color: rgb(255, 0, 0);
}
.p3:hover {
    background-color: darkslateblue;
    color: rgb(250, 234, 6)
}
.p4:hover {
    background-color: darkslateblue;
    color: deeppink;
}
/* footer */
h2 {
    text-align: center;
    font-style: initial;
}
.link1 {
    height: 3%;
    width: 3%;
    border-radius: 100px;
    padding-left: 6px; 
    padding-right: 6px;


}

.link2 {
    height: 5%;
    width: 5%;
    border-radius: 100px;
    padding-left: 6px; 
    padding-right: 6px;
    

}